<h1>Welcome to Online_Course.com, <%= @user.name %></h1>
<p>
  You have successfully signed up to Online_Course platform<br>
  Here are your credentials for login:-<br>
  <b>Name: <%= @user.name %><b><br>
  <b>Password: <%= @user.password_digest %><b><br>
</p>
<p><b>Kindly update your credentials<b></p>
<p>Thanks for joining and have a great day!</p>
